<div class="content">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div
      class="columns first"
      fxLayout="column"
      fxLayoutAlign="center start"
      fxflex="50"
    >
      <img src="../../../assets/auth/logo.svg" width="20%" />

      <h3>Bem vindo de volta!</h3>

      <app-login></app-login>
    </div>

    <div
      class="columns second"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxflex="50"
    >
      <div fxLayout="row" fxLayoutAlign="center center">
        <img
          src="../../../assets/auth/man-doing-online-payment.svg"
          style="width: 80%"
        />
      </div>
    </div>
  </div>
</div>
