@import "~assets/scss/styles.scss";

.l-content {
    height: 93%;
    display: flex;
    flex-direction: row;
    &__area__form {
        height: 100%;
        width: 40%;
        display: grid;
        background-color: $background-color-area-form;
        &__inputs {
            width: 100%;
            align-self: center;

            &__content {
                margin: 60px;
                &__title {
                    h3 {
                        span {
                            &:nth-child(1) {
                                color: $color-subtitle-primary;
                            }
                            &:nth-child(2) {
                                color: $color-subtitle-secondary;
                            }
                        }
                    }
                }
                &__align__items {
                    &__column {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
    &__img {
        width: 100%;
        img {
            width: 100%;
            height: 80%;
        }
    }
}
