@import "~assets/scss/styles.scss";
.f-table {
    &__btn-filter {
        margin-left: 20px;
        background: $color-button-filter;
        height: 40px;
    }
    .icon-search {
        color: $color-icon-search;
    }
}
