<div class="profile">
  <div class="profile__nav">
    <navbar></navbar>
  </div>

  <div class="profile__body">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Roronoa Zoro</mat-card-title>
        <mat-card-subtitle>usuario@gmail.com</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://i0.wp.com/pbs.twimg.com/media/EHUK0IsW4AAO-RC.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <mat-icon>chat</mat-icon>
        <mat-icon>phone</mat-icon>
        <mat-icon>email</mat-icon>
        <mat-icon>public</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
</div>