@font-face {
    font-family: Montserrat-Regular;
    src: url(/assets/fonts/Montserrat-Regular.ttf);
    src: url(/assets/fonts/Montserrat-Regular.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(/assets/fonts/Montserrat-Bold.ttf);
    src: url(/assets/fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(/assets/fonts/Montserrat-Medium.ttf);
    src: url(/assets/fonts/Montserrat-Medium.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: Montserrat-Italic;
    src: url(/assets/fonts/Montserrat-Italic.ttf);
    src: url(/assets/fonts/Montserrat-Italic.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: Montserrat-Black;
    src: url(/assets/fonts/Montserrat-Black.ttf);
    src: url(/assets/fonts/Montserrat-Black.ttf) format("truetype");
    font-style: normal;
}
