@import "~assets/scss/variables.scss";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    .mat-toolbar,
    .mat-toolbar h1,
    .mat-toolbar h2,
    .mat-toolbar h3,
    .mat-toolbar h4,
    .mat-toolbar h5,
    .mat-toolbar h6 {
        font-family: $primary-font;
    }
    h1 {
        font-family: $primary-font;
    }

    .snack-error {
        background-color: $color-error;
        color: $color-white;
    }
}
