<h5 class="title-dialog font-weight-bold">Excluir Pagamento</h5>
<mat-dialog-content>
    <h2 class="text-center">Deseja remalmente excluir esse registro?</h2>
    <p>Nome: Nome</p>
    <p>Usuário: Usuario</p>
    <p>Data: Data</p>
    <p>Valor: Valor</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="bg-green-600 text-white" [mat-dialog-close]="true" cdkFocusInitial>Sim, excluir!</button>
    <button mat-button class="text-rose-600" mat-dialog-close>Não</button>
</mat-dialog-actions>
