.navbar {
  width: 100%;
  height: 90px;
  padding: 0 30px;
  background: #002D69;
  box-sizing: border-box;

  &__logo {
    width: 137px;
  }

  ::ng-deep {
    .mat-select, .mat-select-trigger {
      position: absolute;
      right: 15px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

    .mat-select-min-line,
    .mat-select-arrow {
      display: none;
    }
  }

  &__avatar {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
  }
}