.nav-theme {
    background: #002D69;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-dropdown {
    width: 60px;
}

.icon-color {
    color: #FFFFFF;
}