.cell {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.img-small {
    width: 50px;
}

.img-profile {
    border-radius: 50%;
}

.image-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.title-txt {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #2D3540;
}

.subtitle-txt {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: -0.2px;
    color:#69788C;
}