@import "src/assets/styles/colors.scss";
@import "src/assets/styles/button.scss";
@import "src/assets/styles/input.scss";

.content {
    width: 720px;
    padding: 32px;

    background: $white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    .header {
        margin-bottom: 32px;
    }

    .h3 {
        margin-top: 0;
    }

    .text {
        font-family: $roboto;
        font-size: 1.6em;
        font-style: normal;
        font-weight: 400;
    }

    .footer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 32px;
    }

    .button {
        margin-left: 16px;
    }

    .payment {
        display: flex;
        flex-wrap: wrap;
    }

    .input {
        flex: 2 0 40%;
        margin: 8px;
    }
}

.icon {
    cursor: pointer;
    margin-left: 8px;
}

.button {
    @extend .button;

    position: relative;
    float: right;

    width: 230px;
    margin-top: -16px;
}


