<div class="login">
  <div class="login__form">
    <form [formGroup]="loginForm" novalidate>
      <div class="login__form-content">
        <img src='../../assets/login-logo.svg'>

        <p>Bem vindo de volta</p>

        
          <mat-form-field appearance="outline">
            <mat-label>
              Email
            </mat-label>
            <input
              matInput
              required
              formControlName="email"
              [pattern]="emailPattern"
              [(ngModel)]="email"
            />
            <mat-error>
              Informe um email válido.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input
              matInput
              name="password"
              [type]="shouldShowPassword ? 'text' : 'password'"
              formControlName="password"
              [(ngModel)]="password"
              required
            />
            <mat-icon
              matSuffix
              (click)="togglePassword()"
            >
              {{ shouldShowPassword ? 'visibility' : 'visibility_off' }}
            </mat-icon>
            <mat-error>
              Campo obrigátório.
            </mat-error>
          </mat-form-field>

          <button
            mat-flat-button
            color="primary"
            [disabled]="!loginForm.valid"
            (click)="loginHandler()"
          >
            ENTRAR
          </button>
      </div>
    </form>
  </div>

  <div class="login__picture">
    <img src='../../assets/login-side.png'>
  </div>
</div>