.btn {
  width: 12rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;

  &_cancel {
    background: var(--btn-cancel);
  }

  &_submit {
    color: var(--branco);
    background: var(--btn-submit);
  }
}

