
.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	padding: 2rem 0;
	border-radius: 10rem;

	text-decoration: none;

	&__primary {
		color: var(--branco);
		background: var(--primary-color);
	}

	&__secondary {
		color: var(--branco);
		background: var(--secondary-color);
	}
}
