form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .input-block {
    position: relative;
  }

  .form-control {
    border-radius: 0.6rem;
    border: 1px solid var(--border);
  }
}
