form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--secondary-text);

    padding: 15px 15px;
    background: transparent;
  }

  label {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .password-eye {
    display: flex;
    justify-content: flex-end;
    width: 5rem;
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    cursor: pointer;
  }

  .placeholder {
    position: absolute;
    margin: 1.8rem 0;
    padding: 0 0.5rem;
    color: #616161;
    background: #f2f2f2;

    display: flex;
    align-items: center;
    font-size: 1.2rem;
    top: -24px;
    left: 17px;
  }

  .form-control {
    height: 5rem;
    padding: 1.5rem;
    width: 100%;
  }

  .form-group {
    display: flex;
    gap: 2rem;

    &__flex-columm {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  .input-relative-container {
    position: relative;
  }

  .form-control {
    border-radius: 0.6rem;
    border: 1px solid var(--border);
    border-radius: 3.5px;
  }

  .form-control.is-invalid ~ .invalid-feedback,
  .was-validated .form-control:invalid ~ .invalid-feedback {
    display: block;
  }

  .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 1.2rem;
    color: #dc3545;
  }
}
