:root {
  --white: #fff;
  --grey: #efefef;
  --blue: #007dfe;
  --navy-blue: #002d69;
  --light-blue: #f5f8fa;

  --secondary-text: #69788c;
  --body-text: #2d3540;
  --border: #cfdce5;

  --btn-cancel: var(--grey);
  --btn-submit: var(--blue);
}
