<app-navbar></app-navbar>
<section class="profile-content">
    <p class="title-txt">Perfil</p>
    <div class="informations">
        <img class="profile-img" src="../../../assets/images/profile.png" />
        <div>
            <div class="profile-information">
                <p class="information-title">Nome:</p>
                <p class="information-content">{{ user[0].name }}</p>
            </div>
            <div class="profile-information">
                <p class="information-title">E-mail:</p>
                <p class="information-content">{{ user[0].email }}</p>
            </div>
            <div class="profile-information">
                <p class="information-title">Senha:</p>
                <p class="information-content">{{ user[0].password }}</p>
            </div>
        </div>
    </div>
</section>