.avatar {
  width: 45px;
  height: 45px;
  background-color: lightgray;
  border-radius: 50%;
}
.mat-toolbar {
  height: 90px;
}
.config-link {
  position: absolute;
  font-size: 11px;
  bottom: -15px;
  right: 0;
}
.name-config {
  position: relative;
}
