<main class="main">
    <app-header></app-header>
    <section class="container">
        <h1 class="title">Meus pagamentos</h1>
        <app-create (create)="createPayment($event)"></app-create>

        <section class="payments">
            <div class="payments__actions" *ngIf="paymentsDetails else paymentsActionsPlaceholder">
                <div class="search">
                    <input type="text" class="search__input" [(ngModel)]="searchPaymentsByNameValue"
                        (input)="changeSearchValue()" (keyup.enter)="search()">
                    <img src="assets/images/icons/search.svg" alt="Search Icon" class="search__icon" (click)="search()">
                </div>
                <app-dropdown title="Exibir" [options]="paymentsDetails.pageSizeOptions"
                    (update)="updatePageSize($event)">
                </app-dropdown>
                <app-pagination [total]="paymentsCount$ | async" (update)="updatePageNumber($event)">
                </app-pagination>
            </div>
            <table class="payments__table">
                <thead *ngIf="paymentsDetails">
                    <tr>
                        <th *ngFor="let item of paymentsDetails.header" (click)="sortBy(item)">
                            <span class="title">{{item.title}}</span>
                            <img src="assets/images/icons/sort-{{item.sort}}.svg" class="sort-icon" />
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf="(payments?.length || searchedPaymentsByNameValue) else paymentsItemsPlaceholder">
                    <tr *ngFor="let payment of payments">
                        <td>
                            <span class="text">{{payment.name}} - {{payment.id}}</span>
                            <span class="text text--secondary">@{{payment.username}}</span>
                        </td>
                        <td>
                            <span class="text">{{payment.title}}</span>
                        </td>
                        <td>
                            <span class="text">{{payment.date | date: "d MMM yy"}}</span>
                            <span class="text text--secondary">{{payment.date | date: "shortTime"}}</span>
                        </td>
                        <td>
                            <span class="text">{{payment.value | currency}}</span>
                        </td>
                        <td><input type="checkbox" [(ngModel)]="payment.isPayed" class="checkbox"></td>
                        <td>
                            <app-edit [payment]="payment" (edit)="updatePayment($event)"></app-edit>
                            <app-delete [payment]="payment" (delete)="deletePayment($event)"></app-delete>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</main>

<ng-template #paymentsActionsPlaceholder>
    <div class="placeholder">
        <app-placeholder height="32px"></app-placeholder>
        <app-placeholder width="300px" height="32px"></app-placeholder>
    </div>
    <div *ngIf="false else paymentsItemPlaceholder"></div>
    <div class="border"></div>
</ng-template>

<ng-template #paymentsItemsPlaceholder>
    <div *ngFor="let i of [1,2,3,4,5]">
        <div *ngIf="false else paymentsItemPlaceholder"></div>
    </div>
</ng-template>

<ng-template #paymentsItemPlaceholder>
    <div class="placeholder">
        <app-placeholder width="120px" height="24px"></app-placeholder>
        <app-placeholder width="120px" height="24px"></app-placeholder>
        <app-placeholder width="120px" height="24px"></app-placeholder>
        <app-placeholder width="120px" height="24px"></app-placeholder>
        <app-placeholder width="120px" height="24px"></app-placeholder>
    </div>
</ng-template>
