@import "src/assets/styles/fonts.scss";
@import "src/assets/styles/colors.scss";
@import "src/assets/styles/button.scss";

.main {
    position: relative;
    background: $grey-extralight;
    height: 100vh;
}

.container {
    position: relative;
    display: block;
    width: 960px;
    overflow: auto;
    margin: 65px auto;
}

.title {
    position: relative;

    margin: 0;
    
    @extend .h1;
}

.button {
    @extend .button;

    position: relative;
    float: right;

    width: 230px;
    margin-top: -16px;
}

.payments {
    position: relative;
    float: left;

    width: 100%;
    margin: 16px 0;

    background: $white;
    box-shadow: 0px 2px 4px rgba(4, 38, 82, 0.06);
    border-radius: 8px;
    color: $grey-dark;

    &__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 16px;

        .search {
            display: flex;
            align-items: center;
            position: relative;
            justify-self: flex-start;
            margin-right: auto;

            &__input {
                position: relative;
                padding: 4px 28px 4px 8px;
                height: 32px;
                border: none;

                border: 1px solid $grey-light;
                box-sizing: border-box;
                border-radius: 6px;

                font-family: $lato;
                font-size: 1.2em;
                font-style: normal;
                font-weight: 500;
                color: $grey-dark;

                &:focus, &:focus-visible {
                    outline: $grey-medium auto 1px;
                }
            }

            &__icon {
                position: absolute;
                right: 8px;
            }
        }

        .filter {

        }

    }

    &__table {
        display: flex;
        flex-direction: column;
    
        width: 100%;

        tbody, thead {
            display: flex;
            flex-direction: column;
        }

        thead {
            @extend .border;

            tr {
                height: 50px;
            }
        }

        tbody {
            max-height: 400px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 6px;
            }
            
            &::-webkit-scrollbar-track {
                background: $grey;
                border-radius: 0 0 6px 0;
            }
            
            &::-webkit-scrollbar-thumb {
                background: $grey-medium;
                border-radius: 2px 2px 6px 2px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: $grey-dark;
            }
        }

        tr {
            align-items: center;
            display: flex;
            justify-content: space-between;

            height: 80px;
            padding: 16px;

            &:nth-child(even) {
                background: #F5F8FA;
            }
        }

        td, th {
            flex: 1;
            display: flex;
            flex-direction: column;

            &:last-child {
                align-items: flex-end;
            }
        }

        th {
            align-items: center;
            flex-direction: row;
        }

        .title {
            padding: 0 8px 0 0;

            font-family: $lato;
            font-size: 1.4em;
            font-style: normal;
            font-weight: 700;
            line-height: 1.7em;
            letter-spacing: 0px;
            text-align: left;
        }

        .text {
            color: $grey-dark;
            font-family: $lato;
            font-size: 1.4em;
            font-style: normal;
            font-weight: 400;
            line-height: 1.6em;
            text-align: left;

            &--secondary {
                font-size: 1.2em;
                color: $grey-medium;
            }
        }

        .sort-icon {
            width: 9px;
            height: 12px;
        }

        .title, .sort-icon, .checkbox  {
            cursor: pointer;
        }
    }
}

.placeholder {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.border {
    border-bottom: 2px solid $grey-light;
}
