<form class="form" (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="form__input">
        <label class="label" for="user">Email</label>
        <input id="user" class="input" formControlName="user" name="user"
            [ngClass]="{'input--invalid': isInputInvalid('user')}" type="text">
    </div>
    <div class="form__input">
        <label class="label" for="password">Senha</label>
        <input id="password" formControlName="password" class="input" name="password"
            [ngClass]="{'input--invalid': isInputInvalid('password')}" [type]="isPasswordVisible ? 'text' : 'password'">
        <img class="icon" [src]="isPasswordVisible ? passwordInvisibleIcon : passwordVisibleIcon"
            (click)="changePasswordVisibillity()" />
    </div>

    <button class="form__button" type="submit" [disabled]="isFormInvalid()">Entrar</button>
</form>
