@import "~assets/scss/styles.scss";

.p-content {
    .mat-toolbar.mat-primary {
        display: flex;
        justify-content: space-between;
        background: $color-background-toolbar;
    }

    display: flex;
    flex-direction: column;
    background-color: $background-color-area-form;
    height: 100%;
    &__table {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 90%;
        margin-left: 90px;
        &__title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            margin-top: 4%;
        }
    }
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 15px;
}
.mat-form-field-infix {
    padding: 0;
    border-top: 0;
}
