.modal {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  min-width: 320px;
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;

  .modal-header {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    font-size: 1.2rem;

    span {
      cursor: pointer;
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .modal-footer {
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin-top: 2rem;

    .btn {
      border-radius: 4px;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      border-radius: 4px;
      width: 12rem;
    }

    .btn-cancel {
      background: #f5f5f5;
    }

    .btn-submit {
      background: #007dfe;
      color: #f5f5f5;
    }
  }
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}
