<h1 *ngIf="!isEditModal" mat-dialog-title>Adicionar Pagamento</h1>
<h1 *ngIf="isEditModal" mat-dialog-title>Editar Pagamento</h1>

<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="paymentsFormModal">
    <section>
      <div class="form-group">
        <mat-form-field>
          <input class="form-control" matInput [(ngModel)]="data.name" formControlName="name" required />
          <span class="placeholder">Nome de Usuário</span>

          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Informe seu nome</div>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input class="form-control" matInput [(ngModel)]="data.username" formControlName="username" required />

          <span class="placeholder">Username</span>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Informe seu username</div>
          </div>
        </mat-form-field>
      </div>
    </section>

    <section>
      <div class="form-group">
        <mat-form-field>
          <input class="form-control" matInput [(ngModel)]="data.title" formControlName="title" required />

          <span class="placeholder">Profissão</span>

          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Informe sua profissão</div>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input class="form-control" matInput [(ngModel)]="data.value" formControlName="value" required />

          <span class="placeholder">Valor</span>
          <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
            <div *ngIf="f.value.errors.required">Informe o valor</div>
          </div>
        </mat-form-field>
      </div>
    </section>
  </form>
</div>

<div mat-dialog-actions class="modal-footer">
  <button class="btn btn_cancel" mat-button (click)="onCancel()">Cancelar</button>
  <button class="btn btn_submit" mat-button *ngIf="!isEditModal" [mat-dialog-close]="data" cdkFocusInitial>
    Registrar
  </button>
  <button class="btn btn_submit" mat-button *ngIf="isEditModal" [mat-dialog-close]="data" cdkFocusInitial>
    Editar
  </button>
</div>
