<div class="remove-dialog">
  <span class="remove-dialog__title">
    Excluir pagamento
  </span>

  <div class="remove-dialog__data">
    <span>
      Usuário: {{ name }}
    </span>
    <span>
      Data: {{ formatterService.defaultDate(date) }}
    </span>
    <span>
      Valor: {{ formatterService.money(value) }}
    </span>
  </div>

  <div class="remove-dialog__actions">
    <button
      color="primary"
      mat-flat-button
      (click)="onNoClick()"
      class="remove-dialog__actions-cancel"
    >
      CANCELAR
    </button>

    <button
      color="primary"
      mat-flat-button
      (click)="onSaveClick()"
      class="remove-dialog__actions-save"
    >
      EXCLUIR
    </button>
  </div>
</div>
