.spacer {
  flex: 1 1 auto;
}

.color {
    background-color: #002D69;
}
.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: solid 2px white;
  }
}
