@import "../../share/style/colors.scss";

.spacer {
  flex: 1 1 auto;
}

.logout {
  color: $white;
  padding: 10px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
}

.color {
    background-color: $blue;
}

.circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: solid 2px white;
  }
}
