@import "../../share/style/colors.scss";

.spacer {
  flex: 1 1 auto;
}

.color {
    background-color: $blue;
}

.circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: solid 2px white;
  }
}
