@import "src/assets/styles/colors.scss";
@import "src/assets/styles/fonts.scss";

.main {
	display: flex;

	width: 100vw;
	height: 100vh;
	overflow: hidden;

	background: $white;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;

	&--form {
		flex-direction: column;

		width: 30%;
		min-width: 540px;

		background: $grey-extralight;       
	}

	&--illustration {
		width: 70%;
	}
}

.content {
	width: 328px;
}

.title {
	margin: 16px 0;
	
	font-family: $montserrat;
	font-size: 3em;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0em;
	text-align: left;
}
