@import "src/assets/styles/fonts.scss";
@import "src/assets/styles/colors.scss";

.pagination {
    display: flex;
    justify-self: flex-end;
    align-items: center;

    &__icon, .page {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 22px;
        height: 22px;
        border-radius: 4px;
        
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            background: $grey;
        }
    }

    .page {
        font-family: $lato;
        font-size: 1.2em;
        font-style: normal;
        font-weight: 600;
        color: $grey-medium;

        &--active {
            background: $blue;
            color: $white;

            &:hover {
                background: $blue;
                color: $white;
            }
        }
    }
}
