<search (emmitSearch)="getSearch($event)"></search>
<button (click)="addPaymentModal.toggle()">Adicionar Pagamento</button>

<section class="listagem">
  <table class="payments">
    <tr class="table-header">
      <th class="th_item"><a id="name" class="filter__link" href="#">Usuário</a></th>
      <th class="th_item"><a id="wins" class="filter__link filter__link--number" href="#">Título</a></th>
      <th class="th_item"><a id="draws" class="filter__link filter__link--number" href="#">Data</a></th>
      <th class="th_item"><a id="losses" class="filter__link filter__link--number" href="#">Valor</a></th>
      <th class="th_item"><a id="total" class="filter__link filter__link--number" href="#">Pago</a></th>
      <th class="th_item"></th>
    </tr>

    <ng-template ngFor let-payment [ngForOf]="shownPayments">
      <tr class="table-row" *ngIf="payment.name">
        <td class="td_item">
          {{ payment.name }}<span>@{{ payment.username }}</span>
        </td>
        <td class="td_item">{{ payment.title }}</td>
        <td class="td_item">{{ payment.date }}</td>
        <td class="td_item">{{ payment.value }}</td>

        <td class="td_item">
          <ng-template [ngIf]="payment.isPayed" [ngIfElse]="notPayed">
            <input type="checkbox" id="scales" name="scales" checked disabled />
          </ng-template>

          <ng-template #notPayed>
            <input type="checkbox" id="scales" name="scales" disabled />
          </ng-template>
        </td>

        <td class="td_item">
          <button (click)="deleteModal.toggle()">Excluir</button>
          <!-- <a [routerLink]="['details', payment.id]" *ngIf="payment">Editar</a> -->
        </td>
      </tr>
    </ng-template>
  </table>

  <modal #deleteModal>
    <h1>Excluir pagamento</h1>
    <p>Usuário</p>
    <p>Data</p>
    <p>valor</p>
  </modal>

  <modal #addPaymentModal>
    <h1>Adicionar Pagamento</h1>
    <input type="text" placeholder="Usuário" />
    <input type="text" placeholder="Data" />
    <input type="text" placeholder="Valor" />
    <input type="text" placeholder="Título" />
  </modal>
</section>

<img src="assets/error.png" alt="Erro de pesquisa" width="100%" *ngIf="apiError" />
