<search (emmitSearch)="getSearch($event)"></search>

<section class="listagem">
  <table class="payments">
    <tr class="table-header">
      <th class="th_item"><a id="name" class="filter__link" href="#">Usuário</a></th>
      <th class="th_item"><a id="wins" class="filter__link filter__link--number" href="#">Título</a></th>
      <th class="th_item"><a id="draws" class="filter__link filter__link--number" href="#">Data</a></th>
      <th class="th_item"><a id="losses" class="filter__link filter__link--number" href="#">Valor</a></th>
      <th class="th_item"><a id="total" class="filter__link filter__link--number" href="#">Pago</a></th>
      <th class="th_item"></th>
    </tr>

    <ng-template ngFor let-payment [ngForOf]="shownPayments">
      <tr class="table-row" *ngIf="payment.name">
        <td class="td_item">
          {{ payment.name }}<span>@{{ payment.username }}</span>
        </td>
        <td class="td_item">{{ payment.title }}</td>
        <td class="td_item">{{ payment.date }}</td>
        <td class="td_item">{{ payment.value }}</td>
        <td class="td_item">{{ payment.isPayed }}</td>
        <td class="td_item">
          <button (click)="modal.toggle()">Editar</button>
          <button (click)="modal.toggle()">Excluir</button>
          <!-- <a [routerLink]="['details', payment.id]" *ngIf="payment">Editar</a> -->
        </td>
      </tr>
    </ng-template>
  </table>

  <add-payment-modal #modal>
    <h1>Lorem, ipsum dolor.</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dicta non alias distinctio, aliquid aperiam ipsum provident quae nihil voluptatibus veniam
      fuga similique facilis consequatur reiciendis recusandae. Velit magni distinctio corporis eaque ad itaque ex impedit accusamus. Debitis pariatur cum quam
      rerum reprehenderit quod iure, in explicabo facere vero nemo?
    </p>
  </add-payment-modal>
</section>

<img src="assets/error.png" alt="Erro de pesquisa" width="100%" *ngIf="apiError" />
