@import "../../../config-scss/rem-calc.scss";

$padding: rem-calc(20);
$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;
$color-form-highlight: #eeeeee;

:host {
  width: 100%;

  .listagem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: $padding 0;

    .payments {
      width: 100%;
      position: relative;
      background: var(--branco);
      margin-bottom: rem-calc(10);
      padding: $padding;
      border-radius: rem-calc(10);
      text-decoration: none;
      color: var(--primary-color);

      td,
      th {
        font-size: rem-calc(12);
        width: 100%;
      }

      .table-header {
        display: flex;
        width: 100%;
        background: #000;
        padding: ($half-spacing-unit * 2) 0;

        .filter__link {
          color: white;
          text-decoration: none;
          position: relative;
          display: inline-block;
          padding-left: $base-spacing-unit;
          padding-right: $base-spacing-unit;

          &::after {
            content: "⮟";
            position: absolute;
            right: -($half-spacing-unit * 1.5);
            color: white;
            font-size: ($half-spacing-unit * 0.8);
            top: 50%;
            transform: translateY(-50%);
          }

          &.desc::after {
            content: "(desc)";
          }

          &.asc::after {
            content: "(asc)";
          }
        }

        .th_item {
          flex: 1 1 20%;
          text-align: center;
        }
      }

      .table-row {
        display: flex;
        width: 100%;
        padding: 1rem 0;

        &:nth-of-type(odd) {
          background: $color-form-highlight;
        }

        .td_item {
          flex: 1 1 20%;
          text-align: center;
          padding: 0 0.5rem;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;

          button {
            background: none;
            cursor: pointer;
          }
        }
      }
    }

    @media (max-width: 400px) {
      a {
        width: 100% !important;
      }
    }
  }
}
