.filter-button {
  font-size: 12px;
  height: 30px;
  line-height: 0;
  padding: 0 8px;
}
.filter-wrapper {
  position: absolute;
  background-color: white;
  z-index: 17;
  padding: 16px;
  border-radius: 8px;
  left: 15vw;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 16;
}
