<div class="add-dialog">
  <span class="add-dialog__title">
    {{ dialogTitle }}
  </span>

  <form [formGroup]="ownerForm" novalidate>
    <div class="add-dialog__data">
      <mat-form-field appearance="outline">
        <mat-label> Usuário </mat-label>
        <input matInput required [(ngModel)]="currentPayment.name" formControlName="name"/>
        <mat-error> Campo obrigatório. </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> Valor </mat-label>
        <input
          matInput
          required
          type="text"
          formControlName="value"
          (keypress)="formatterService.numberOnly($event)"
          [(ngModel)]="currentPayment.value"
        >
          <mat-error> Campo obrigatório. </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" (click)="picker.open()">
          <mat-label> Data </mat-label>
          <input
            #date
            matInput
            formControlName="date"
            [matDatepicker]="picker"
            [(ngModel)]="currentPayment.date"
          >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> Titulo </mat-label>
        <input matInput required [(ngModel)]="currentPayment.title" formControlName="title"/>
        <mat-error> Campo obrigatório. </mat-error>
      </mat-form-field>
    </div>
  </form>

  <div class="add-dialog__actions">
    <button
      color="primary"
      mat-flat-button
      (click)="onNoClick()"
      class="add-dialog__actions-cancel"
    >
      CANCELAR
    </button>

    <button
      color="primary"
      mat-flat-button
      [disabled]="!ownerForm.valid"
      (click)="onSaveClick()"
      class="add-dialog__actions-save"
    >
      SALVAR
    </button>
  </div>
</div>