<img src="assets/images/icons/edit.svg" class="icon" alt="Delete Icon" (click)="show()" />

<app-popup [isVisible]="isVisible">
    <div class="content">
        <header class="header">
            <h3 class="h3">Alterar pagamento</h3>
        </header>
        <section class="payment">
            <input class="input" [(ngModel)]="editedPayment.name">
            <input class="input" [(ngModel)]="editedPayment.value">
            <input class="input" [ngModel]="editedPayment.date| date:'yyyy-MM-dd'"
                (ngModelChange)="editedPayment.date = $event" type="date">
            <input class="input" [(ngModel)]="editedPayment.title">
        </section>
        <footer class="footer">
            <button class="button button--secondary" (click)="close()">Cancelar</button>
            <button class="button" (click)="editPayment()">Editar</button>
        </footer>
    </div>
</app-popup>
