::ng-deep {
    .mat-card-header {
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      flex-direction: column !important;
    }
  }

.account-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    background-color: #F2F2F2;
  }
  
  hr {
    margin: 2rem 0 1rem 0;
  }
  
  @media screen and (max-width: 767px) {
    mat-card {
      width: 80%;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    mat-card {
      width: 60%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    mat-card {
      width: 40%;
      padding: 2rem;
    }
    mat-form-field {
      margin-top: 1rem;
    }
  }
  
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    input:read-only {
      cursor: not-allowed;
    }
  
    button {
      margin-top: 2rem;
    }
  }
  