<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field class="form-input" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field class="form-input" appearance="outline">
      <mat-label>Senha</mat-label>
      <input
        matInput
        placeholder="Senha"
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <button type="submit" class="btn-primary" mat-button color="primary">
      ENTRAR
    </button>
  </div>
</form>
