<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <img class="img-logo" src="assets/logo.svg" alt="logo" width="100%" />

  <h1>Crie sua conta</h1>

  <div class="form-group__flex-columm">
    <div class="input-relative-container">
      <input
        class="form-control"
        type="name"
        formControlName="name"
        id="name"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        required
      />
      <span class="placeholder"> Nome </span>

      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Informe seu nome</div>
      </div>
    </div>

    <div class="input-relative-container">
      <input
        class="form-control"
        type="username"
        formControlName="username"
        id="username"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        required
      />
      <span class="placeholder"> Usuário </span>

      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Informe seu username</div>
      </div>
    </div>

    <div class="input-relative-container">
      <input
        class="form-control"
        type="email"
        formControlName="email"
        id="email"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        required
      />
      <span class="placeholder"> Email </span>

      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Informe seu email</div>
      </div>

      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.email">Informe um email válido</div>
      </div>
    </div>

    <div class="input-relative-container">
      <input
        class="form-control"
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        id="password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        required
      />
      <div *ngIf="!hide" class="password-eye" (click)="hidePassword()">
        <img src="assets/icons/view.png" alt="password eye" width="35%" />
      </div>

      <div *ngIf="hide" class="password-eye" (click)="hidePassword()">
        <img src="assets/icons/hidden.png" alt="password eye" width="35%" />
      </div>
      <span class="placeholder"> Senha </span>

      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Informe sua senha</div>
      </div>
    </div>
  </div>

  <button [disabled]="loading" type="text" class="btn btn_submit">Cadastrar</button>
  <button routerLink="/" class="back">← Voltar para Login</button>
</form>
