:host {
  form {
    max-width: 340px;
    margin-top: 1rem;
    align-items: center;

    .img-logo {
      width: 40%;
    }

    .btn_submit {
      width: 100%;
    }

    h1 {
      margin-bottom: 2.4rem;
      font-size: 3rem;
    }

    .back {
      font-size: 1.2rem;
      margin-top: 1rem;
      letter-spacing: 1.25px;
      text-transform: uppercase;
    }

    .password-eye {
      display: flex;
      justify-content: flex-end;
      width: 5rem;
      position: absolute;
      top: 1.8rem;
      right: 2rem;
      cursor: pointer;
    }

    .placeholder {
      position: absolute;
      margin: 1.8rem 0;
      padding: 0 0.5rem;
      color: #616161;
      background: #f2f2f2;

      display: flex;
      align-items: center;
      font-size: 1.2rem;
      top: -24px;
      left: 17px;
    }

    .form-group__flex-columm {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .form-control {
      height: 54px;
      width: 326px;
      padding: 1.5rem;
    }
  }
}
