$white: #FFFFFF;

$grey-extralight: #F2F2F2;
$grey-light: #CFDCE5;
$grey: #D5D5D5;
$grey-medium: #616161;
$grey-dark: #2D3540;

$black: #333333;

$blue: #007DFE;
$blue-dark: #002D69;

$red: #FF3131;

