@import "src/variables";

main {
  background-color: $color_grey;
}
mat-toolbar {
  background-color: $color_dark_blue;
  padding: 0 30px;

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .content1 {
      .logo-dashboard {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        color: #F8F8F8;

        span {
          font-weight: normal;
          font-size: 24px;
          line-height: 29px;
          color: #F8F8F8;
        }
      }
    }

    .content2 {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: red;
    }

  }
}

.my-payments-container {
  p {
    margin-left: 70px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #333333;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mat-form-field {
      width: 215px;
      height: 32px;
    }

    .table-subtable {
      display: flex;
      justify-content: space-between;
      width: 90%;
      padding: 20px 20px 0 20px;
      background-color: $color_white;
      border-radius: 10px 10px 0 0;
    }

    table {
      width: 90%;
      margin-bottom: 30px;

      //::ng-deep .mat-paginator-page-size-label:after {
      //  content: 'teste';
      //}
      .mat-row:first-child{
        td {
          border-top: 2px solid $color_table_grey;
        }
      }

      .mat-row:nth-child(even){
        background-color: #ffffff;
      }

      .mat-row:nth-child(odd){
        background-color: #F5F8FA;
      }

      ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
        opacity: 0.03 !important;
        background-color: $color_primary!important;
      }

      ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: $color_primary;
      }
    }
  }
}

