:host {
  form {
    max-width: 340px;
    margin-top: 1rem;

    .img-logo {
      justify-self: flex-end;
      width: 40%;
    }

    h1 {
      margin-bottom: 2.4rem;
      font-size: 3rem;
    }

    input:valid + .placeholder,
    input:focus + .placeholder {
      transform: scale(0.8) translateY(-3rem);
      background: #f2f2f2;
      padding: 0 0.5rem;
    }

    .password-eye {
      position: absolute;
      top: 1.8rem;
      right: 1rem;
      cursor: pointer;
    }

    .placeholder {
      position: absolute;
      margin: 1.8rem 0;
      color: #616161;

      display: flex;
      align-items: center;
      font-size: 1.4rem;
      top: 0;
      left: 17px;

      transition: all 0.2s;
      transform-origin: 0% 0%;
      background: none;
      pointer-events: none;
    }

    .form-control {
      height: 54px;
      width: 326px;
      padding: 1.5rem;
    }
  }
}
