:host {
  form {
    max-width: 340px;
    margin-top: 1rem;

    .img-logo {
      justify-self: flex-end;
      width: 40%;
    }

    h1 {
      margin-bottom: 2.4rem;
      font-size: 3rem;
    }
  }
}
