table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}
.table-components {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.cell-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.icon-btn {
    color: #333333;
}

.filter-input {
  margin-left: 20px;
}

.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #007DFE !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background-color: #007DFE !important;
  }
  
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #007DFE !important;
  }
  
  ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #007DFE !important;
  }